<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ExpenseJS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/fontawesome/css/all.css">
    <link rel="stylesheet" href="/image-picker/image-picker.css">
</head>
<body style="padding-top: 70px;">
<div id="success" class="success" style="display:none"> </div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">ExpenseJS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li id="home-nav-parent" class="nav-item active">
        <a id="home-nav" class="nav-link" href="#">Home</a>
      </li>
      <li id="cat-nav-parent" class="nav-item">
        <a id="cat-nav" class="nav-link" href="#">Categories</a>
      </li>
      <li id="cat-nav-parent" class="nav-item">
        <a id="about-nav" class="nav-link" href="#">About This App</a>
      </li>
    </ul>
  </div>
</nav>

<div id="home">
    <div class="floater"> 
            <button type="button" class="btn btn-primary btn-circle btn-xl" data-toggle="modal" data-target="#money">
                <i class="fas fa-plus"></i>
            </button>
    </div>

    <!-- Modal for income/expense -->
    <div class="modal fade" id="money" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="title">Add what?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <button id="income-btn" data-toggle="modal" data-target="#income-input" data-dismiss="modal" class="btn btn-success btn-block"> Income </button>
            <button id="expense-btn" data-toggle="modal" data-target="#expense-input" data-dismiss="modal" class="btn btn-danger btn-block"> Expense </button>
          </div>
        </div>
      </div>
    </div>

    <!-- modal for input income -->
    <div class="modal fade" id="income-input" tabindex="-1" role="dialog" aria-labelledby="title2" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="title2">Income</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
                <input id="income-value" type="number" class="form-control" id="income-number" placeholder="Enter Income">
            </div>
          </div>
          <div class="modal-footer">
            <button id="income-adder-btn" onclick="saveIncome($('#income-value').val())" type="button" data-dismiss="modal" class="btn btn-success">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <!-- modal for input expense -->
    <div class="modal fade" id="expense-input" tabindex="-1" role="dialog" aria-labelledby="title3" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="title2">Expense</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
                <select class="image-picker show-html form-control">
                    <option value=""></option>
                    <option data-img-src="/images/food.png" data-img-class="first" data-img-alt="Food" value="food"> Food </option>
                    <option data-img-src="/images/rent.png" data-img-alt="Rent" value="rent"> Rent </option>
                    <option data-img-src="/images/transportation.png" data-img-alt="Transpo" value="transpo"> Transpo </option>
                    <option data-img-src="/images/internet.png" data-img-alt="Internet" value="internet"> Internet </option>
                    <option data-img-src="/images/electricity.png" data-img-alt="Electricity" value="electricity"> Electricity </option>
                    <option data-img-src="/images/laundry.png" data-img-alt="Laundry" value="laundry"> Laundry </option>
                    <option data-img-src="/images/others.png" data-img-alt="Others" value="others"> Others </option>
                </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-sm-6 mt-1">
                <div class="card bg-info">
                    <div class="card-body">
                        <h5 class="card-title text-white text-center"> Income </h5>
                        <p class="card-text text-white text-center"> 0 </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-sm-6 mt-1">
                <div class="card bg-info">
                    <div class="card-body">
                        <h5 class="card-title text-white text-center"> Expenses </h5>
                        <p class="card-text text-white text-center"> 0 </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <hr>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card bg-light">
                    <div class="card-header">
                        <h5>Summary</h5> 
                    </div>
                    <div class="card-body">
                        <p class="card-title">Card title</p>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="categories">
    <span class="floater"> 
            <img src="/images/add.png">
    </span>
    <div class="container-fluid">
        <h3 class="text-center"> Expense Categories </h3>
        <hr>
        <div class="row justify-content-center">
            <div class="col mx-auto text-center">
                <figure class="figure">
                  <img src="/images/food.png">
                  <figcaption>Food</figcaption>
                </figure>
            </div>
            <div class="col mx-auto text-center">
                <figure class="figure">
                  <img src="/images/Rent.png">
                  <figcaption>Rent</figcaption>
                </figure>
            </div>
            <div class="col mx-auto text-center">
                <figure class="figure">
                  <img src="/images/electricity.png">
                  <figcaption>Electricity</figcaption>
                </figure>
            </div>
            <div class="col mx-auto text-center">
                <figure class="figure">
                  <img src="/images/transportation.png">
                  <figcaption>Transpo</figcaption>
                </figure>
            </div>
            <div class="col mx-auto text-center">
                <figure class="figure">
                  <img src="/images/Laundry.png">
                  <figcaption>Laundry</figcaption>
                </figure>
            </div>
            <div class="col mx-auto text-center">
                <figure class="figure">
                  <img src="/images/internet.png">
                  <figcaption>Internet</figcaption>
                </figure>
            </div>
            <div class="col mx-auto text-center">
                <figure class="figure">
                  <img src="/images/Others.png">
                  <figcaption>Others</figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="/image-picker/image-picker.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/javascripts/custom-frontend.js"></script>
<script src="/javascripts/database.js"></script>
<script src="/javascripts/controller.js"></script>
</script>
</body>
</html>