<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ExpenseJS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body style="padding-top: 70px;">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">ExpenseJS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li id="home-nav-parent" class="nav-item active">
        <a id="home-nav" class="nav-link" href="#">Home</a>
      </li>
      <li id="cat-nav-parent" class="nav-item">
        <a id="cat-nav" class="nav-link" href="#">Categories</a>
      </li>
      <li id="cat-nav-parent" class="nav-item">
        <a id="about-nav" class="nav-link" href="#">About This App</a>
      </li>
    </ul>
  </div>
</nav>

<div id="home">
    <span class="floater"> 
            <img src="/images/add.png">
    </span>
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-sm-6 mt-1">
                <div class="card bg-info">
                    <div class="card-body">
                        <h5 class="card-title text-white text-center"> Income </h5>
                        <p class="card-text text-white text-center"> 0 </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-sm-6 mt-1">
                <div class="card bg-info">
                    <div class="card-body">
                        <h5 class="card-title text-white text-center"> Expenses </h5>
                        <p class="card-text text-white text-center"> 0 </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <hr>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card bg-light">
                    <div class="card-header">
                        <h5>Summary</h5> 
                    </div>
                    <div class="card-body">
                        <p class="card-title">Card title</p>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="categories">
    <span class="floater"> 
            <img src="/images/add.png">
    </span>
    <div class="container-fluid">
        <h3 class="text-center"> Expense Categories </h3>
        <hr>
        <div class="row justify-content-center">
            <div class="col mx-auto text-center">
                <figure class="figure">
                  <img src="/images/food.png">
                  <figcaption>Food</figcaption>
                </figure>
            </div>
            <div class="col mx-auto text-center">
                <figure class="figure">
                  <img src="/images/Rent.png">
                  <figcaption>Rent</figcaption>
                </figure>
            </div>
            <div class="col mx-auto text-center">
                <figure class="figure">
                  <img src="/images/electricity.png">
                  <figcaption>Electricity</figcaption>
                </figure>
            </div>
            <div class="col mx-auto text-center">
                <figure class="figure">
                  <img src="/images/transportation.png">
                  <figcaption>Transpo</figcaption>
                </figure>
            </div>
            <div class="col mx-auto text-center">
                <figure class="figure">
                  <img src="/images/Laundry.png">
                  <figcaption>Laundry</figcaption>
                </figure>
            </div>
            <div class="col mx-auto text-center">
                <figure class="figure">
                  <img src="/images/internet.png">
                  <figcaption>Internet</figcaption>
                </figure>
            </div>
            <div class="col mx-auto text-center">
                <figure class="figure">
                  <img src="/images/Others.png">
                  <figcaption>Others</figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/javascripts/custom.js"></script>
</body>
</html>