<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ExpenseJS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/fontawesome/css/all.css">
</head>
<body style="padding-top: 70px;">
<div id="success-img" class="success" style="display:none"> </div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">ExpenseJS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li id="home-nav-parent" class="nav-item active">
        <a id="home-nav" class="nav-link" href="#">Home</a>
      </li>
      <li id="cat-nav-parent" class="nav-item">
        <a id="cat-nav" class="nav-link" href="#">Categories/Budgets</a>
      </li>
      <li id="about-nav-parent" class="nav-item">
        <a id="about-nav" class="nav-link" href="#">About This App</a>
      </li>
    </ul>
  </div>
</nav>

<div id="home">
    <!-- Modal for income/expense -->
    <div class="modal fade" id="money" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="title">Add what?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <button id="income-btn" data-toggle="modal" data-target="#income-input" data-dismiss="modal" class="btn btn-success btn-block"> Income </button>
            <button id="expense-btn" data-toggle="modal" data-target="#expense-modal" data-dismiss="modal" class="btn btn-danger btn-block"> Expense </button>
          </div>
        </div>
      </div>
    </div>

    <!-- modal for input income -->
    <div class="modal fade" id="income-input" tabindex="-1" role="dialog" aria-labelledby="title2" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="title2">Income</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form onsubmit="return window.saveIncome($('#income-value').val())">
            <div class="modal-body">
              <div class="form-group">
                  <input id="income-value" type="number" class="form-control" id="income-number" placeholder="Enter Income" required>
              </div>
            </div>
            <div class="modal-footer">
              <button id="income-adder-btn" type="submit" class="btn btn-success">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- modal for input expense -->
    <div class="modal fade" id="expense-modal" tabindex="-1" role="dialog" aria-labelledby="title3" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="title2">Expense</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form onsubmit="return window.saveExpense($('#expense-input').val(), $('#category-select').val());">
            <div class="modal-body">
              <div class="container" id="selectContainer">
                  <select id="category-select" class="form-control">
                      <!-- content category select -->
                  </select>
                  <br>
                  <div class="form-group expense-container">
                        <label for="expense-input">Value</label>
                        <input id="expense-input" type="number" class="form-control" placeholder="expense value" required>
                  </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-sm-6 mt-1">
                <div class="card bg-info">
                    <div class="card-body">
                        <h5 class="card-title text-white text-center"> Income </h5>
                        <p id="income-preview" class="card-text text-white text-center"> 0 </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-sm-6 mt-1">
                <div class="card bg-info">
                    <div class="card-body">
                        <h5 class="card-title text-white text-center"> Expenses </h5>
                        <p id ="expense-preview" class="card-text text-white text-center"> 0 </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <hr>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card bg-light">
                    <div class="card-header">
                        <h5>Transactions</h5> 
                    </div>
                    <div id="transaction" class="card-body">
                      <div class="expense-transactions container-fluid ">
                        <!-- expense content -->
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="floater"> 
            <button type="button" class="btn btn-primary btn-circle btn-xl" data-toggle="modal" data-target="#money">
                <i class="fas fa-plus"></i>
            </button>
    </div>
</div>

<div id="categories" class="container">
    <div>
        <h3 class="text-center"> Expense Categories </h3>
        <hr>
        <h5 class="text-center"> Set Budget (Total: <span id="totalBudget" class="text-success">  </span>) </h5>
        <div id="category-tile" class="row justify-content-center">
          <!-- content category tile -->
        </div>
    </div>
    <div class="floater"> 
        <button type="button" class="btn btn-primary btn-circle btn-xl" data-toggle="modal" data-target="#category-modal">
            <i class="fas fa-plus"></i>
        </button>
    </div>

    <div class="modal fade" id="category-modal" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="title">Add Category</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form onsubmit="window.addCategory($('#category-input').val())">
            <div class="modal-body">
              <div class="form-group">
                <label for="category-name">Category Name</label>
                <input id="category-input" type="text" class="form-control" placeholder="Enter custom category name" required>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" id="category-add-btn" class="btn btn-success">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="budget-modal" tabindex="-1" role="dialog" aria-labelledby="title3" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="title3">Edit budget</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form onsubmit="window.updateBudget($('#budget-id').val(), $('#budget-input').val(), $('#budget-image').val(), $('#budget-name').val()); return false">
            <div class="modal-body">
              <div class="form-group">
                  <input id="budget-input" type="number" name="budget" class="form-control" placeholder="Enter Budget" required>
                  <input name="budget-id" id="budget-id" hidden>
                  <input name="budget-image" id="budget-image" hidden>
                  <input name="budget-name" id="budget-name" hidden>
              </div>
            </div>
            <div class="modal-footer">
              <button id="income-adder-btn" type="submit" class="btn btn-success">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>

<div id = "about">
  <h2 class="text-center"> App Created and Maintained by Galo Garlejo </h2>
  <h3 class="text-center"><a href="galoberlyngarlejo.wixsite.com/gwaportfolio"> Personal Website </a> </h3>
  <h4 class="text-center"> <a href="github.com/galoberlyn"> Projects </a></h4>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/javascripts/custom-frontend.js"></script>
<script src="/javascripts/databaseLoading.js"></script>
<script type="module" src="/javascripts/controller.js"></script>

</body>
</html>