.active > .nav-link {
  color: #5bc0de !important;
}

.floater {
    bottom: 0; 
    position: fixed;
    margin: 1em; 
    right: 0px;
    border-radius: 99em;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); 
}